@import url(./fonts/Cairo/font-faces.css);

@font-face {
  font-family: "Cairo";
  font-weight: 400;
  src: url("./fonts/Cairo/static/Cairo-Regular.ttf") format("truetype");
}

body {
  padding-bottom: 2rem;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  left: 50%;
  top: 55%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0.15;
  background-image: url("../public/images/post_back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  z-index: -100;
}

p {
  width: fit-content;
  font-size: 3rem;
  margin: 0;
}

* {
  font-family: "Cairo", sans-serif;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page {
  width: 200px;
  height: 200px;
  background: rgb(30, 23, 147);
  background: linear-gradient(
    135deg,
    rgba(30, 23, 147, 1) 0%,
    rgba(122, 122, 205, 1) 39%,
    rgba(0, 212, 255, 0.7511379551820728) 94%
  );
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  color: #28335f;
  box-shadow: 3px 7px 12px 3px #7d7d7d70;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.page:hover {
  box-shadow: 3px 7px 12px 7px #7d7d7d70;
}

input,
select {
  border: 1px solid #a6a6a6 !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

button {
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.add-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 2rem;
  margin-bottom: 2rem;
}

.head-img {
  width: 100px;
}

.head-img:last-of-type {
  width: 120px;
}

.add-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-search a button {
  margin: 0;
}

.add-search .title {
  font-weight: 500;
  align-self: flex-start;
  position: relative;
}

.add-search .title::after {
  position: absolute;
  content: "";
  width: 167.003px;
  height: 2px;
  background: #000;
  top: 110%;
  right: 0%;
}

.form-container {
  width: 80%;
  margin: auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  justify-content: center;
  column-gap: 5rem;
}

.form-label {
  font-weight: 700;
}

.min-width {
  width: 10rem;
}

.invalid-input {
  border: 3px solid rgba(250, 105, 105, 0.767) !important;
}

.step-bar {
  direction: ltr;
}

.step {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 2px;
  background-color: #b6b5b5;
  display: inline-block;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  box-shadow: 0px 4px 10px 1px #0000004f;
  border: 2px solid #00000045;
}

.step img {
  width: 70%;
}

.step:not(.step:last-of-type)::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 90%;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 4px solid #7f7f7f;
  border-right: 4px solid #7f7f7f;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  box-shadow: 3px -3px 4px 0px #00000045;
}

.step.active {
  opacity: 0.9;
  background-color: #0d6efd;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  opacity: 0.9;
  background-color: #e4c725;
}

.full-grid-width {
  grid-column: 1 / 3;
}

.up-border {
  position: relative;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.up-border::after {
  position: absolute;
  content: "";
  width: 324.001px;
  height: 2px;
  background: #9c9c9c;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.col-auto {
  margin-left: 2rem;
}

.buttons.row {
  gap: 1rem;
}

.ml-0 {
  margin-left: 0;
}

.full-grid-width.row:last-of-type {
  gap: 0;
}

.file-name {
  font-size: 1rem;
}

.radios {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons {
  margin-top: 2rem !important;
}

.table-header th {
  background-color: #f3f6f9 !important;
  border-bottom: none;
  color: #464e5f !important;
}

.table-header th:first-child {
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}

.table-header th:last-child {
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

tr td:last-child {
  width: 125px !important;
}

td {
  border-bottom: 2px solid #e8e8e8 !important;
  color: #464e5f !important;
}

td .name,
.rank {
  font-size: 1rem !important;
  margin: 0 !important;
}

.rank {
  color: #677289;
}

.search-btn {
  height: 90% !important;
  border: none !important;
}

.btn-details {
  height: 30px;
  padding: 3px 15px !important;
  font-size: 1rem !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  background: #f3f6f9 !important;
  border: none !important;
  color: #677289 !important;
}

/* loading.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

.outline {
  background: transparent !important;
  border: 2px solid black !important;
  color: #000 !important;
}

.outline:hover {
  background: rgb(133, 188, 240) !important;
}

.search {
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  column-gap: 0.5rem;
}

.search .add {
  margin-left: auto;
}

.search-input {
  height: 90%;
}

.search select {
  width: fit-content;
  margin-right: auto;
}

.search-input,
.search select {
  border: none !important;
  background-color: #f3f6f9 !important;
}

.detail-header {
  margin-top: 1rem;
}

.detail-header .researcher-name,
.researcher-job {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.head::after {
  top: 120%;
  background: #000;
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__input-container input {
  text-align: end;
}

.react-datepicker__close-icon::after {
  background-color: #00050dc4 !important;
  border-radius: 10%;
}

.personal {
  padding: 0 2rem;
}

.personal div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.personal div .phone,
.personal div .email {
  margin: 0;
  padding: 0;
}

.personal-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 12px 4px #0000004a;
}

div span {
  font-size: 1rem;
  font-weight: 600;
}

.research table {
  margin-top: 0 !important;
}

.td {
  font-size: 1rem;
}

tr .result {
  padding-top: 2rem !important;
  text-align: center;
}

td {
  background: transparent !important;
}

.login-form {
  width: 50%;
  margin: auto;
}

.user-head {
  position: absolute;
  top: 2rem;
  right: 10px;
}

.user-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  background-color: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 968px) {
  .form-label {
    font-size: 0.8rem !important;
  }
  .add-header p {
    font-size: 2rem;
    text-align: center;
  }
  .form {
    column-gap: 2%;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
    margin: auto;
  }
}
